h1 {
   font-family: Brush Script MT, Brush Script Std, cursive;
   text-align: center;
   color: goldenrod;
}

.container {
   height: 80vh;
   width: 80vh;
   border: 10px solid rgb(202, 26, 26);
   border-radius: 1px;
   display: grid;
   margin: auto;
}

.buttons {
   margin: auto;
   display: inline-block;
   width: 100%;
   text-align: center;
}

.buttons > * {
   
}

.buttons > *:hover

.square{
   background-color: rgb(255, 255, 255);
   border: 1px solid black;
}
