h1 {
   font-family: Brush Script MT, Brush Script Std, cursive;
}

.square{
   background-color: gray;
   border: 1px solid black;
}

#container {
   height: 500px;
   width: 500px;
   border: 2px solid gray;
   border: 5px;
   display: grid;
}
